.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 100hv;
  }
  
  .header-title {
    font-size: 1.2rem;
  }
  
  .header-logo {
    height: 2rem;
  }
  