.sidebar {
  width: 10%; /* Cambia el ancho a 100% */
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed; /* Fija el sidebar en la pantalla */
  top: 60px; /* Ajusta la posición según la altura de la barra superior */
  left: 0;
  bottom: 0;
}

.sidebar-top {
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content li {
  margin-bottom: 10px;
}

.sidebar-content a {
  color: #fff;
  text-decoration: none;
}
.LO{
  margin-top: 450px;
}