.sidebar {
    width: 16rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .sidebar-top, .sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .sidebar-button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  
  .sidebar-button:hover {
    background-color: #333;
  }
  