.app {
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    height: 100vh;
}

.content {
    position: absolute;
    display: flex;
    flex: 1;
    margin-top: 60px; /* Ajusta el margen según la altura de la barra superior */
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
}