.topbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
    position: fixed; /* Fija la barra superior en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Ajusta la altura de la barra superior */
}